.card-div {
    background: lightblue;
}

.input-div {
    display: flex;
    padding-bottom: 20px;
}

.input-out-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
    width: -webkit-fill-available;
}

.container-div {
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}